* {
  box-sizing: border-box;
}

/* COMIENZO Contenedor General */
.containerGeneral {
  max-width: 1920px;
  margin: 0;
  padding: 0;
  position: relative;
}
/* FIN Contenedor General */

.containerPrincipal {
  height: 1000px;

}
body {
  margin: 0;
  padding: 0;
}

/* COMIENZO Header */
header {
  background-color: #232F3E;
  width: 100%;
  height: 100px;
  position: relative;

}
/* FIN Header */

/* COMIENZO Logo */
.logoPrincipal {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 11%;
  display: block;
}

.logoPrincipal img {
  width: 200px;
  height: 50px;
  margin: 0;
}
/* FIN Logo */

/* COMIENZO Buscador */
.buscador {
  position: absolute;
  top: 10px;
  left: 260px;
  width: 48%; /* 30 56*/
  display: inline;
}
.buscador input {
  border-radius: 50px;
}
/* FIN Buscador */

/* COMIENZO Menu Login */
.main-login {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-weight: 100;
  position: absolute;
  top: 10px;
  right: 230px;
  width: 20%;
  display: block;

}

.main-login ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.main-login li a {
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  padding-right: 3em;
  padding-top: 0.2em;
  flex-grow: 1;
  text-align: center;
}
.main-login li a:hover {
  color: grey;
  text-decoration: underline;
}
.formLogin {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 10px;
}
.formLogin input{
  margin-right: 20px;
}

/* FIN Menu Login */

/* COMIENZO MENU VERTICAL */
.navVertical {
  display:block;
  width: 24%;
  position: absolute;
  top: 60px;
}
.nav li a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-weight: 100;
  width: 100%;
}
.nav {
  margin: 0;
  padding: 0;
}
.nav > li {
  display: inline-block;
  padding: 12px;
  position: relative;
  width: 100%;
}

.nav li > ul {
  list-style-type: none;
  display: none;
  position: relative;
}
.nav li ul a{
  font-size: 12px;
}
.nav li:hover {
  background-color: #fff;
  color: #000;

  border: 2px solid #293B71;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

}
.nav li:hover a {
  color: #000;
}
.nav li:hover > ul {
  display: block;
  top: 100%;
  left: -5%;
  width: 100%;
}

.nav li:hover > ul li {
   padding: 10px;
   background-color: #2c4c71;
   width: 400px;
   -moz-box-shadow: 7px 7px 7px #777777;
   -webkit-box-shadow: 7px 7px 7px #777777;
   box-shadow: 7px 7px 7px #777777;


   border: 1px solid #a7b9ee;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;


}
.nav li:hover > ul li a{
  color: #FFFFFF;
}
.nav li:hover > ul li:hover {
   text-decoration: underline;
   color: #FFFFFF;
   background-color: #294769;
}
/* FIN MENU VERTICAL */

/* COMIENZO Menu Principal */
.main-nav {
  position: absolute;
  bottom: 0;
  left: 250px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 86%;
  display: block;

}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main-nav li a {
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
  flex-grow: 1;
  text-align: center;
}
.main-nav li a:hover {
  color: 	#A9A9A9;
  text-decoration: underline;
}
/* FIN Menu Principal */


/* COMIENZO Menu Idiomas */
.main-language {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 200;
  font-size: 12px;
  color: #FFFFFF;
  position: absolute;
  top: 5px;
  right: 60px;
  width: 20%;
  display: block;
}

.main-language ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.main-language li a {
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
  flex-grow: 1;
}

.main-language li a:hover {
  text-decoration: underline;
  color: 	#A9A9A9;
}
/* FIN Menu Idiomas */

/* COMIENZO Carrito de compras */
.carritoDeCompras {
  float: right;
  width: 3%;
  height: 50px;
  right: 10px;
  top: 50px;
  position: absolute;
  display: block;
}
.carritoDeCompras img{
  width: 50px;
  height: 50px;

}
/* FIN Carrito de compras */


/* COMIENZO Slider Home */
.slider img {
  height: 400px;
}
.slider-container {
  overflow: hidden;
}
.slider {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s mov--der-izq infinite;
  animation-play-state: running;
}
.slider:hover {
  animation-play-state: paused;
}
.slider a img { width: 25%; float: left; }

/*ANIMACIÓN*/

@keyframes mov--der-izq {
  0% { left: 0%; } /*empieza em posicion inicial*/
  33.333% { left: 0%; } /*cambio de la primera a la segunda img*/
  38.333% { left: -100%; } /*se queda parado*/
  68.333% { left: -100%; } /*cambio de la segunda a la tercera img*/
  73.333% { left: -200%; } /*se queda parado*/
  93.333% { left: -200%; } /*Vuelve a mostrar la primera img para que no haya un salto repentino a la primera img*/
  100% { left: -300%; }
}
/* FIN Slider Home */


/* COMIENZO H1, H2 , H3 ..... */
h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  font-family: Verdana, Geneva, sans-serif;
  color: #232F3E;
  -moz-box-shadow: 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;

}

h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  font-family: Tahoma, sans-serif;
  color: #3a5e8f;
  background-color: rgba(226, 217, 217, 0.69);
}
/* FIN H1, H2 , H3 ..... */



/* COMIENZO Tabla Formulario Registro */
.tablaRegistro {
  width: 50%;
  margin: auto;
  /* CSS Reference de Codrops */
	border: 20px dashed red;
	border: 10px dotted #232F3E;
	border: 10px groove #232F3E;
  background-color: #F5F5F5;
  font-weight: 500;
  font-family: Verdana;
  font-size: 14px;
}
.tablaRegistro td{
  padding: 15px;
  border: 1px solid #232F3E;
}
.tablaRegistro label{
  margin-right: 15px;
}
input:focus {
  background-color: #232F3E;
  color: white;
}
.botonesFormulario button{
  border: 0;
}
textarea{
  resize: vertical;
}
/* FIN Tabla Formulario Registro */

/* COMIENZO Footer */
footer {
  font-family: Verdana, Geneva, sans-serif;
  border-style: double; border-width: 4px;
  border-radius: 40px 40px 0 0;
  background-color: #232F3E;
  clear: both;
  text-align: center;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 12px;
  height: 70px;
}
footer p {
  margin: 5px;
  padding: 5px;
}
/* FIN Footer */





@media only screen and (max-width : 1200px) {
  .buscador input {
    width: 30%;
  }
  /* COMIENZO Menu Login */
  .main-login {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
  }

  /* COMIENZO Menu Principal */
  .main-nav {
    font-size: 12px;

  }
  /* COMIENZO Menu Idiomas */
  .main-language {
    font-size: 10px;
    right: 0;
  }
  /* COMIENZO Carrito de compras */
  .carritoDeCompras {
    right: 20px;
  }
}



@media only screen and (max-width : 992px) {
  /* COMIENZO Menu Principal */
  .main-nav {
    left: 250px;
    width: 60%;
    padding-right: 50px;
  }
  .main-nav li a:hover {
    color: 	#A9A9A9;
    text-decoration: underline;
    background-color: #1e3361;
  }
  /* FIN Menu Principal */

  /* COMIENZO Menu Idiomas */
  .main-language {
    font-size: 9px;
    right: 0;
  }

  /* COMIENZO Carrito de compras */
  .carritoDeCompras {
    right: 40px;
  }

  /* COMIENZO Menu Login */
  .main-login {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    right: 150px;
  }
}


@media only screen and (max-width : 768px) {
  header {
    height: 200px;
  }
  /* COMIENZO Logo */
  .logoPrincipal {
    width: 20%;
  }
  .main-language img {
    display: none;
  }
  .logoPrincipal img {
    width: 100px;
    height: 30px;
    margin: 0;
  }
  /* COMIENZO Buscador */
  .buscador {
    display: none;
  }
  .main-login {
    left: 150px;
    top: 5px;
    width: 20%;
  }
  .main-language {
    left: 270px;
    width: 15%;
    top: 5px;
  }
  /* COMIENZO Carrito de compras */
  .carritoDeCompras {
    right: 5px;
    top: 5px;
    width: 10%;
  }
  .navVertical {
    display: none;
  }
  /* COMIENZO Menu Principal */
  .main-nav {
    position: absolute;
    bottom: 0;
    left: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 500;
    font-size: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
  }
  .main-nav li{
    width: 50%;
  }

  .main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav li a {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    padding: 0.5em;
    flex-grow: 1;
    text-align: center;
    border: 1px solid white;
  }
  .main-nav li a:hover {
    color: 	#A9A9A9;
    text-decoration: underline;
  }
  /* FIN Menu Principal */
  .mainNavVertical {
    display: block;
    left: 0;
    flex-wrap: wrap;
    width: 100%;
    top: 96px;
  }
  .mainNavVertical li{
    width: 100%

  }
}

@media only screen and (max-width : 368px) {
   header {
    height: 285px;
  }
  .main-language {
    display: none;
  }
  .main-login {
    left: 180px;
  }
  .carritoDeCompras {
    right: 40px;
  }
  .main-nav li{
    width: 100%;
  }
}
